<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sys.system">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.System"
        tools:targetApi="31">



        <activity
            android:name=".Activity.Update_hard_python"
            android:exported="false" />
        <activity
            android:name=".Activity.Update_hard_fill"
            android:exported="false" />
        <activity
            android:name=".Activity.fill_and_the_blanks_python_hard"
            android:exported="false" />
        <activity
            android:name=".Activity.Java_hard_setup"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin_ui"
            android:exported="false" />
        <activity
            android:name=".Activity.CommentActivity2"
            android:exported="false" />
        <activity
            android:name=".Activity.announce_view2"
            android:exported="false" />
        <activity
            android:name=".Activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.announce_view"
            android:exported="false" />
        <activity
            android:name=".Activity.announce"
            android:exported="false" />
        <activity
            android:name=".Activity.System_analysis2"
            android:exported="false" />
        <activity
            android:name=".Activity.score_view2"
            android:exported="false" />
        <activity
            android:name=".Activity.System_analysis"
            android:exported="false" />
        <activity
            android:name=".Activity.python_hard_2"
            android:exported="false" />
        <activity
            android:name=".Activity.python_hard_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_quiz3"
            android:exported="false" />
        <activity
            android:name=".Activity.python_normal_score2"
            android:exported="false" />
        <activity
            android:name=".Activity.python_normal_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_quiz2"
            android:exported="false" />
        <activity
            android:name=".Activity.python_easy_score2"
            android:exported="false" />
        <activity
            android:name=".Activity.python_easy_score1"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_quiz1"
            android:exported="false" />
        <activity
            android:name=".Activity.easy3"
            android:exported="false" />
        <activity
            android:name=".Activity.deleting_quiz2"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_hard1"
            android:exported="false" />
        <activity
            android:name=".Activity.Hard_pythons_set"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_hard23"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_normal1"
            android:exported="false" />
        <activity
            android:name=".Activity.Normal_pyhon"
            android:exported="false" />
        <activity
            android:name=".Activity.Normal_pythons_set"
            android:exported="false" />
        <activity
            android:name=".Activity.Python_easy1"
            android:exported="false" />
        <activity
            android:name=".Activity.Easy_python_sets"
            android:exported="false" />
        <activity
            android:name=".Activity.Easy_python"
            android:exported="false" />
        <activity
            android:name=".Activity.python_sets"
            android:exported="false" />
        <activity
            android:name=".Activity.User_progress"
            android:exported="false" />
        <activity
            android:name=".Activity.Quiz_manager"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_c_scores2"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_c_scores"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_b_scores2"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_b_scores"
            android:exported="false" />
        <activity
            android:name=".Activity.set_A_scores"
            android:exported="false" />
        <activity
            android:name=".Activity.set_A_end"
            android:exported="false" />
        <activity
            android:name=".Activity.QuizC"
            android:exported="false" />
        <activity
            android:name=".Activity.QuizB"
            android:exported="false" />
        <activity
            android:name=".Activity.Quiz_A"
            android:exported="false" />
        <activity
            android:name=".Activity.Quiz_set_A"
            android:exported="false" />
        <activity
            android:name=".Activity.Update_set_c"
            android:exported="false" />
        <activity
            android:name=".Activity.Java_setc_setUp"
            android:exported="false" />
        <activity
            android:name=".Activity.java_setc"
            android:exported="false" />
        <activity
            android:name=".Activity.Update_set_b"
            android:exported="false" />
        <activity
            android:name=".Activity.Java_setb_setUp"
            android:exported="false" />
        <activity
            android:name=".Activity.java_set_b"
            android:exported="false" />
        <activity
            android:name=".Activity.Java_sets"
            android:exported="false" />
        <activity
            android:name=".Activity.Edit_java"
            android:exported="false" />
        <activity
            android:name=".Activity.Easy_edit"
            android:exported="false" />
        <activity
            android:name=".Activity.Reference2"
            android:exported="false" />
        <activity
            android:name=".Activity.reference"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_content2"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_category"
            android:exported="false" />
        <activity
            android:name=".Activity.quiz_content"
            android:exported="false" />
        <activity
            android:name=".Activity.archive2"
            android:exported="false" />
        <activity
            android:name=".Activity.Privacy"
            android:exported="false" />
        <activity
            android:name=".Activity.Student_dashboard"
            android:exported="false" />
        <activity
            android:name=".Activity.Archive_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.private_chat2"
            android:exported="false" />
        <activity
            android:name=".Activity.chat_view2"
            android:exported="false" />
        <activity
            android:name=".Activity.private_chat"
            android:exported="false" />
        <activity
            android:name=".Activity.chat_view"
            android:exported="false" />
        <activity
            android:name=".Activity.modules"
            android:exported="false" />
        <activity
            android:name=".Activity.python_hard_mode"
            android:exported="false" />
        <activity
            android:name=".Activity.python_end"
            android:exported="false" />
        <activity
            android:name=".Activity.python_hard"
            android:exported="false" />
        <activity
            android:name=".Activity.category"
            android:exported="false" />
        <activity
            android:name=".Activity.java_python"
            android:exported="false" />
        <activity
            android:name=".Activity.hardmode2"
            android:exported="false" />
        <activity
            android:name=".Activity.text"
            android:exported="false" />
        <activity
            android:name=".Activity.deleting_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.python"
            android:exported="false" />
        <activity
            android:name=".Activity.java"
            android:exported="false" />
        <activity
            android:name=".Activity.score_view"
            android:exported="false" />
        <activity
            android:name=".Activity.deletequiz"
            android:exported="false" />
        <activity
            android:name=".Activity.picturegame"
            android:exported="false" />
        <activity
            android:name=".Activity.hard_set"
            android:exported="false" />
        <activity
            android:name=".Activity.set_normal"
            android:exported="false" />
        <activity
            android:name=".Activity.Easy_set"
            android:exported="false" />
        <activity
            android:name=".Activity.create_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.admin_update"
            android:exported="false" />
        <activity
            android:name=".Activity.admin_create"
            android:exported="false" />
        <activity
            android:name=".Activity.python_module"
            android:exported="false" />
        <activity
            android:name=".Activity.jav_module"
            android:exported="false" />
        <activity
            android:name=".Activity.archive"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin_page"
            android:exported="false" />
        <activity
            android:name=".Activity.score_chart"
            android:exported="false" />
        <activity
            android:name=".Activity.picture_score"
            android:exported="false" />
        <activity
            android:name=".Activity.picture_end"
            android:exported="false" />
        <activity
            android:name=".Activity.picture_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.hard_mode_score"
            android:exported="false" />
        <activity
            android:name=".Activity.hard_mode_end"
            android:exported="false" />
        <activity
            android:name=".Activity.hard_mode"
            android:exported="false" />
        <activity
            android:name=".Activity.normal_score"
            android:exported="false" />
        <activity
            android:name=".Activity.normal_end"
            android:exported="false" />
        <activity
            android:name=".Activity.normal_quiz"
            android:exported="false" />
        <activity
            android:name=".Activity.easy_score"
            android:exported="false" />
        <activity
            android:name=".Activity.easy_end"
            android:exported="false" />
        <activity
            android:name=".Activity.easy"
            android:exported="false" />
        <activity
            android:name=".Activity.easy2"
            android:exported="false" />
        <activity
            android:name=".Activity.profile_update"
            android:exported="false" />
        <activity
            android:name=".Activity.profile"
            android:exported="false" />
        <activity
            android:name=".Activity.python_student"
            android:exported="false" />
        <activity
            android:name=".Activity.student_java"
            android:exported="false" />
        <activity
            android:name=".Activity.student_page"
            android:exported="false" />
        <activity
            android:name=".Activity.signup"
            android:exported="false" />
        <activity
            android:name=".Activity.login"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>